extends ../layouts/main

block content
  form.form(action="/auth/login" method="post")
    .form-group
      input.form-control(type="email" name="email" placeholder="Email address")
    .form-group
      input.form-control(type="password" name="password" placeholder="Password")
    .form-group
      button.btn.btn-primary(type="submit") Login
